
@{
    ViewBag.Title = "Delete";
}

<center>
    <h2>Delete</h2>
    <form action="/Patient/Delete" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <h3>
            Name : @Model.Name <br />
            Dob : @Model.Dob <br />
            Email : @Model.Email <br />
        </h3>
        <h2>Are you sure? DELETE ? </h2>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</center>