
@{
    ViewBag.Title = "Index";
}

<center>
    <h2>Students List</h2>

    <table width="80%">
        <tr><td align="center" colspan="5"><a class="btn btn-success" href="/Patient/Create">Create New</a><br /></td></tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Dob</td>
                <td>@p.Email</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/Patient/Edit/@p.Id">EDIT</a>
                    <a class="btn btn-sm btn-danger" href="/Patient/Delete/@p.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</center>
