
@{
    ViewBag.Title = "DonorList";
    Layout = "~/Views/Shared/Patient.cshtml";
}

<center>
    <h2>All Donor List</h2>
    <table class="table table-responsive">
        <tr>
            <th>Donor Name</th>
            <th>Organ Type</th>
            <th>Approved ?</th>
            <th>Checked By</th> 
            <th>Action</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.Organ_type</td>
                <td>@d.Approval</td>
                <td>@d.Approved_by</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/Patient/Donor_View/@d.Id">Details</a>
                </td>
            </tr>
        }
    </table>
</center>