
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

    <span class="text-success" @TempData["msg"]></span>
    <h3>Name: @ViewBag.Name</h3>
    <h3>ID: @ViewBag.ID</h3>
    <h3>name.@ViewData["Name"]</h3>
