
@{
    ViewBag.Title = "C_Skills";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>COMPUTER SKILLS :</u></b></h2>

<h3>1.	Efficient in MS Word, MS Power point and MS Excel.</h3>
<h3>2.	Programming language PHP, JAVA, JAVA script, PYTHON, C++, C#</h3>
