
@{
    ViewBag.Title = "ContactInfo";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>CONTACT INFORMATION :</u></b></h2>
<center>
    <h3>
        <table border="1" width="70%" height="300px">
            <tr>
                <td>Current Address </td>
                <td>H.no:64, Madrasha Road, Betagi, Barguna; Betagi- 8740</td>
                </tr>
                <tr>
                    <td>Contact Number </td>
                    <td>01732454255</td>
                </tr>
                <tr>
                    <td>Email Address </td>
                    <td>jihadshahariarjoy2211@gmail.com</td>
                </tr>
        </table>
    </h3>
</center>
