
@{
    ViewBag.Title = "Education";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>EDUCATIONAL QUALIFICATION :</u></b></h2>
<center>
    <h3>
        <table border="1" width="100%" height="250px">
            <tr>
                <td>SL No.</td>
                <td>Cirtificate</td>
                <td>Board</td>
                <td>Institution</td>
                <td>Passing year</td>
                <td>GPA</td>
            </tr>
            <tr>
                <td>01.</td>
                <td>Secondary School Certificate</td>
                <td>Barisal</td>
                <td>Betagi Govt. Pilot High School</td>
                <td>2015</td>
                <td>4.56/5</td>
            </tr>
            <tr>
                <td>02.</td>
                <td>Higher Secondary Certificate</td>
                <td>Barisal</td>
                <td>Betagi Govt. College</td>
                <td>2019</td>
                <td>4.72/5</td>
            </tr>
            <tr>
                <td>03.</td>
                <td>B.Sc. in Computer Science and Engineering </td>
                <td>Dhaka</td>
                <td>American International University-Bangladesh</td>
                <td>2023</td>
                <td>3.48/5</td>
            </tr>
        </table>
    </h3>
</center>
