
@{
    ViewBag.Title = "Experience";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>EXPERIENCE :</u></b></h2>
<center>
    <h3>
        <table border="1" width="60%" height="200px">
            <tr>
                <td>ABC Company </td>
                <td>6 months intern</td>
            </tr>
            <tr>
                <td>DEF Corporation </td>
                <td>2 Years</td>
            </tr>
        </table>
    </h3>
</center>
