
@{
    ViewBag.Title = "Hobbies";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>INTERESTS/ HOBBIES :</u></b></h2>

<h3>1.	Reading Books.</h3>
<h3>2.	Coding</h3>
<h3>3. Gaming</h3>

