
@{
    ViewBag.Title = "Index";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>

    <h2>
        <table>
            <tr>
                <td>NAME </td>
                <td> : </td>
                <td>Jihad Shahariar Joy</td>
            </tr>
            <tr>
                <td>ID </td>
                <td> : </td>
                <td>19-40068-1</td>
            </tr>
        </table>
    </h2>
</center>
