
@{
    ViewBag.Title = "PersonalInfo";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>PERSONAL INFORMATION :</u></b></h2>
<center>
    <table border="1" width="60%" height="400px">
        <tr>
            <td>Father’s Name </td>
            <td>Faruque Alam</td>
            </tr>
            <tr>
                <td>Mother’s Name </td>
                <td>Mst. Latifa helen</td>
            </tr>
            <tr>
                <td>Date of Birth </td>
                <td>27/11/2000</td>
            </tr>
            <tr>
                <td>Nationality </td>
                <td>Bangladeshi</td>
            </tr>
            <tr>
                <td>Gender </td>
                <td>Male</td>
            </tr>
            <tr>
                <td>Religion </td>
                <td>Islam</td>
            </tr>
    </table>
</center>
