
@{
    ViewBag.Title = "References";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>REFERENCES :</u></b></h2>
<center>
    <h3>
        <table border="1" width="60%" height="200px">
            <tr>
                <td>
                    1.	Name: Md A <br />
                    Designation: Professor <br />
                    Institution: University of Dhaka <br />
                    E-mail: *****du@du.edu.bd <br />
                    Contact Number: ***********
                </td>
            </tr>
            <tr>
                <td>
                    2.	Name: Md B <br />
                    Designation: Senior Lecturer <br />
                    Institution: American International University- Bangladesh <br />
                    E-mail: ***.aiub@gmail.com <br />
                    Contact Number: ***********
                </td>
                
            </tr>
        </table>
    </h3>
</center>

