
@{
    ViewBag.Title = "Skills";
}

<center>
    <h3>___________________________________________________________________</h3>
    <a href="ContactInfo">CONTACT INFO</a> |
    <a href="Objective">OBJECTIVE</a> |
    <a href="PersonalInfo">PERSONAL INFO</a> |
    <a href="Education">EDUCATION</a> |
    <a href="Skills">SKILLS</a> |
    <a href="C_Skills">COMPUTER SKILLS</a> |
    <a href="Experience">Experience</a> |
    <a href="Hobbies">HOBBIES</a> |
    <a href="References">REFERENCES</a>
    <b>____________________________________________________________________________________________________________</b>
</center>

<h2><b><u>STRENGTHS/TRAITS & SKILLS :</u></b></h2>

    <h3>1.	Computer and technology knowledge. </h3>
    <h3>2.	Strong presentation skills.</h3>
    <h3>3.	Affluent in English, Bangla and a little in Hindi.</h3>
    <h3>4.	Programming languages.</h3>
    <h3>5.	Good command in both oral and written English.</h3>

