
@{
    ViewBag.Title = "AddNotice";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<body>
    <center>
        <h2>AddNotice</h2>
        <div class="card text-center">
            <form action="" method="post">
                <div class="mb-3">
                    @* <label for="exampleFormControlInput1" class="form-label">Email address</label>*@
                    <input type="text" class="form-control" name="Title" placeholder="name@example.com">
                </div>

                <div class="mb-3" style="margin-top:5px; margin-bottom:5px">

                    @*<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>*@
                    <textarea class="form-control" name="Details" rows="3"></textarea>
                </div>
                <div class="mb-3" style="margin-top:5px; margin-bottom:5px">

                    @*<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>*@
                    <select name="Type" class="form-control">
                        <option value="">Select User</option>
                        <option value="P">Patient</option>
                        <option value="D">Doctor</option>

                    </select>
                </div>
                <div class="mb-3" style="text-align:left">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </form>
        </div>
    </center>
</body>